
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
.vscode/settings.json
2019/day4_Newti.py
.vscode/launch.json
.mypy_cache/3.8/_ast.data.json
.mypy_cache/3.8/_ast.meta.json
.mypy_cache/3.8/_importlib_modulespec.data.json
.mypy_cache/3.8/_importlib_modulespec.meta.json
.mypy_cache/3.8/@plugins_snapshot.json
.mypy_cache/3.8/abc.data.json
.mypy_cache/3.8/abc.meta.json
.mypy_cache/3.8/ast.data.json
.mypy_cache/3.8/ast.meta.json
.mypy_cache/3.8/builtins.data.json
.mypy_cache/3.8/builtins.meta.json
.mypy_cache/3.8/codecs.data.json
.mypy_cache/3.8/codecs.meta.json
.mypy_cache/3.8/day10.data.json
.mypy_cache/3.8/day10.meta.json
.mypy_cache/3.8/io.data.json
.mypy_cache/3.8/io.meta.json
.mypy_cache/3.8/math.data.json
.mypy_cache/3.8/math.meta.json
.mypy_cache/3.8/mmap.data.json
.mypy_cache/3.8/mmap.meta.json
.mypy_cache/3.8/posix.data.json
.mypy_cache/3.8/posix.meta.json
.mypy_cache/3.8/sys.data.json
.mypy_cache/3.8/sys.meta.json
.mypy_cache/3.8/types.data.json
.mypy_cache/3.8/types.meta.json
.mypy_cache/3.8/typing.data.json
.mypy_cache/3.8/typing.meta.json
.mypy_cache/3.8/collections/__init__.data.json
.mypy_cache/3.8/collections/__init__.meta.json
.mypy_cache/3.8/collections/abc.data.json
.mypy_cache/3.8/collections/abc.meta.json
.mypy_cache/3.8/importlib/__init__.data.json
.mypy_cache/3.8/importlib/__init__.meta.json
.mypy_cache/3.8/importlib/abc.data.json
.mypy_cache/3.8/importlib/abc.meta.json
.mypy_cache/3.8/os/__init__.data.json
.mypy_cache/3.8/os/__init__.meta.json
.mypy_cache/3.8/os/path.data.json
.mypy_cache/3.8/os/path.meta.json
2019/__pycache__/intcode.cpython-38.pyc
